[submodule "lidar-mapping-poc.gnss_emu"]
	path = lidar-mapping-poc.gnss_emu
	url = https://github.com/vuquangtrong/lidar-mapping-poc.gnss_emu.git
[submodule "OLED_SSD1306_I2C_Linux"]
	path = OLED_SSD1306_I2C_Linux
	url = https://github.com/vuquangtrong/OLED_SSD1306_I2C_Linux.git
[submodule "USB_Automount"]
	path = USB_Automount
	url = https://github.com/vuquangtrong/USB_Automount.git
[submodule "RF24"]
	path = RF24
	url = https://github.com/vuquangtrong/RF24.git
