[Unit]
Description=Base Controller
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/base_controller

[Install]
WantedBy=multi-user.target

